@tailwind base;

@tailwind components;

@tailwind utilities;
        

.anime {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1500ms;
}

body{
    background: rgba(57, 40, 159, 1.00);
    -webkit-tap-highlight-color: transparent;
}